@model BudgetBuddyLibrary.Models.BudgetModel
@{
    ViewData["Title"] = "Create";
}

<h1>Create a New Line Item in your @Model.BudgetName</h1>

<br />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Transactions.First().DateOfTransaction" class="control-label"></label>
                <input asp-for="Transactions.First().DateOfTransaction" class="form-control" />
                <span asp-validation-for="Transactions.First().DateOfTransaction" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Transactions.First().AmountOfTransaction" class="control-label"></label>
                <input asp-for="Transactions.First().AmountOfTransaction" class="form-control" />
                <span asp-validation-for="Transactions.First().AmountOfTransaction" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Transactions.First().DescriptionOfTransaction" class="control-label"></label>
                <input asp-for="Transactions.First().DescriptionOfTransaction" class="form-control" />
                <span asp-validation-for="Transactions.First().DescriptionOfTransaction" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Transactions.First().IsCredit" class="control-label"></label>
                <input asp-for="Transactions.First().IsCredit" class="form-control" />
                <span asp-validation-for="Transactions.First().IsCredit" class="text-danger"></span>
            </div>

            <br />

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}