@model BudgetBuddyLibrary.Models.BudgetModel
@{
    ViewData["Title"] = "Create";
}

<h1>Create a New Line Item in Your @Model.BudgetName Budget</h1>

<br />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input type="hidden" name="budgetId" value="@Model.BudgetId" />
            <input type="hidden" name="budgetName" value="@Model.BudgetName" />

                <div class="form-group">
                    <label asp-for="Transaction.DateOfTransaction" class="control-label"></label>
                    <input asp-for="Transaction.DateOfTransaction" class="form-control" />
                    <span asp-validation-for="Transaction.DateOfTransaction" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Transaction.AmountOfTransaction" class="control-label"></label>
                    <input asp-for="Transaction.AmountOfTransaction" class="form-control" />
                    <span asp-validation-for="Transaction.AmountOfTransaction" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Transaction.DescriptionOfTransaction" class="control-label"></label>
                    <input asp-for="Transaction.DescriptionOfTransaction" class="form-control" />
                    <span asp-validation-for="Transaction.DescriptionOfTransaction" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Transaction.IsCredit" class="control-label"></label>
                    <input asp-for="Transaction.IsCredit" value="true" name="Transaction.IsCredit" type="checkbox" checked" />
                    <span asp-validation-for="Transaction.IsCredit" class="text-danger"></span>
                </div>

                <br />

                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}